[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tox = "*"
geopy = "*"
shapely = "*"

[dev-packages]
neovim = "*"
pytest = "*"
twine = "*"

[requires]
python_version = "3.11"
