[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
geopy = "*"
shapely = "*"
psycopg2 = "*"
python-dotenv = "*"
pipfile = "*"
geojson = "*"
pyproj = "*"
click = "*"
faker = "*"
rich = "*"

[dev-packages]
neovim = "*"
pytest = "*"
twine = "*"
litecli = "*"
tox = "*"
pgcli = "*"

[requires]
python_version = "3.8"
